header {
    background-color: rgb(62, 66, 65);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.header__inner
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 30px 0;
    color: #ffff;
    font-size: 26px;
}
.nav__link {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.link__search{
    margin-right: 30px;
    transition: all 0.5s;
}

.link__search:hover{
    color: #000;
    opacity: 0.7;
}

.link__gitHub{
    color: #ffff;
    text-decoration: none;
    transition: all 0.5s;
}

.link__gitHub:hover{
    color: #000;
    opacity: 0.7;
}

.main{
    min-height: 100vh;
    background: url('https://img3.goodfon.ru/original/1920x1080/9/9a/fon-temno-plastinka-vinil.jpg') no-repeat center center fixed;
    color: #ffff
}

.main__inner {
    text-align: center;
    padding-top: 30px ;
}
h1 {
    margin: 0;
}
h2 {
    margin: 0;
}

.topChart__logo {
    margin-top: 40px;
    font-size: 24px;
    text-transform: uppercase;
}

.topChart__grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.topChart__item {
    height: 150px;
    color: #fff;
    background-color: rgb(45, 45, 45);
    border: 1px #000 solid;
    padding: 1em;
    margin: 0.25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.topChart__img {
    display: block;
    width: 5em;
    height: 5em;
}

.topChart__link {
    color: rgb(178, 165, 46);
    text-decoration: none;
    transition: color 0.4s;
}

.topChart__link:hover {
    color: rgb(167, 216, 19);
}

.topChart__music {
    font-size: 1em;
}


.loading {
    margin: 100px auto;
}

.loading__inner {
    margin: 0 auto;
}

.search {
    margin-top: 4em;
}

.search__inner {
    text-align: center;
}



.search__input {
    margin-top: 1em;
    border-color: #000 ;
    width: 18em;
    height: 2em;
    border-radius: 20px;
    color: #000;

    font-size: 24px;
    padding: 10px;

    transition: all 0.4s;
}

.search__input:focus {
    width: 20em;
}

.btn__search {
    width: 10em;
    height: 3em;
    border: none;
    background-color: rgb(69, 65, 65);
    border-radius: 50px;
    color: #fff;
    margin-top: 1em;

    transition: all 0.4s;
}
.btn__search:hover {
    transform: translate(0, 1em);
    background-color: rgb(158, 24, 24);
    width: 11em;
}

.search__musics {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchMusic__item {
    width: 20em;
    border-radius: 30px;
}